<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
      <mat-icon>menu</mat-icon>
    </button>
    <h2 style="margin:0px !important">Tourist Management</h2>
    <span class="example-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/login'" *ngIf="!isAuthenticated"> Login </a>
      <a mat-button [routerLink]="'/branches'" *ngIf="isAuthenticated"> Branches </a>
      <a mat-button *ngIf="isAuthenticated" (click)="logout()"> Logout </a>
     
    </div>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->
</mat-toolbar>
<!-- <app-branches></app-branches> -->
<router-outlet></router-outlet>
