<form class="add-form" [formGroup]="addBranchForm" (ngSubmit)="addBranch()">
    <h1 mat-dialog-title style="padding-bottom: 5px;">Add Branch</h1>
    <hr />
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <div mat-dialog-content class="matContent" *ngIf="isAuthorized">
        <div class="flexContainer full-width">
            <mat-form-field class="formFieldMargin" appearance="outline">
                <mat-label>Branch Code</mat-label>
                <input type="text" matInput formControlName="branchCodeControl" [errorStateMatcher]="matcher">
                <mat-error
                    *ngIf="addBranchForm.get('branchCodeControl').hasError('maxlength') && !addBranchForm.get('branchCodeControl').hasError('required')">
                    Branch Code must be less than 50 characters
                </mat-error>
                <mat-error *ngIf="addBranchForm.get('branchCodeControl').hasError('required')">
                    Branch Code is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="formFieldMargin" appearance="outline">
                <mat-label>Branch Name</mat-label>
                <input type="text" matInput formControlName="branchNameControl" [errorStateMatcher]="matcher">
                <mat-error
                    *ngIf="addBranchForm.get('branchNameControl').hasError('maxlength') && !addBranchForm.get('branchNameControl').hasError('required')">
                    Branch Name must be less than 100 characters
                </mat-error>
                <mat-error *ngIf="addBranchForm.get('branchNameControl').hasError('required')">
                    Branch Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="formFieldMargin" appearance="outline">
                <mat-label>Contact</mat-label>
                <input type="tel" matInput placeholder="0999999999" formControlName="contactFormControl"
                    [errorStateMatcher]="matcher">
                <mat-error
                    *ngIf="(addBranchForm.get('contactFormControl').hasError('pattern') || addBranchForm.get('contactFormControl').hasError('minlength') || addBranchForm.get('contactFormControl').hasError('maxlength')) && !addBranchForm.get('contactFormControl').hasError('required')">
                    Please enter a valid contact
                </mat-error>
                <mat-error *ngIf="addBranchForm.get('contactFormControl').hasError('required')">
                    Contact is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flexContainer full-width">
            <mat-form-field class="formFieldMargin" appearance="outline">
                <mat-label>Website</mat-label>
                <input type="url" matInput formControlName="websiteFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. www.example.com">
                <mat-error
                    *ngIf="addBranchForm.get('websiteFormControl').hasError('pattern') && !addBranchForm.get('websiteFormControl').hasError('required')">
                    Please enter a valid website
                </mat-error>
                <mat-error *ngIf="addBranchForm.get('websiteFormControl').hasError('required')">
                    Website is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flexContainer full-width">
            <mat-form-field class="formFieldMargin" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-error
                    *ngIf="addBranchForm.get('emailFormControl').hasError('email') && !addBranchForm.get('emailFormControl').hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="addBranchForm.get('emailFormControl').hasError('required')">
                    Email is required
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Places & Tariff</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="flexContainer full-width">
                        <mat-form-field class="formFieldMargin" appearance="outline">
                            <mat-label>Andaman</mat-label>
                            <input type="number" matInput formControlName="andaman" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="addBranchForm.get('andaman').hasError('required')">
                                Tariff is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="formFieldMargin" appearance="outline">
                            <mat-label>Thailand</mat-label>
                            <input type="number" matInput formControlName="thailand" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="addBranchForm.get('thailand').hasError('required')">
                                Tariff is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flexContainer full-width">
                        <mat-form-field class="formFieldMargin" appearance="outline">
                            <mat-label>Dubai</mat-label>
                            <input type="number" matInput formControlName="dubai" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="addBranchForm.get('dubai').hasError('required')">
                                Tariff is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="formFieldMargin" appearance="outline">
                            <mat-label>Singapore</mat-label>
                            <input type="number" matInput formControlName="singapore" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="addBranchForm.get('singapore').hasError('required')">
                                Tariff is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flexContainer full-width">
                        <mat-form-field class="formFieldMargin" appearance="outline">
                            <mat-label>Malaysia</mat-label>
                            <input type="number" matInput formControlName="malaysia" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="addBranchForm.get('malaysia').hasError('required')">
                                Tariff is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div mat-dialog-content class="matContent" *ngIf="!isAuthorized">
        <span>You are not authorized to view content.</span>
    </div>
        
    <div mat-dialog-actions align="end">
        <button mat-button (click)="onNoClick()" type="button">Cancel</button>
        <button mat-raised-button color="primary" cdkFocusInitial type="submit" [disabled]="!addBranchForm.valid" *ngIf="isAuthorized">Add Branch</button>
    </div>
</form>