.add-form {
    width: 100%;
  }
  
  .full-width {
    max-width: 100%;
  }

.flexContainer{
  display: flex;
}

.formFieldMargin{
  margin-right: 1rem;
  width: 100%;
}

.matContent{
  max-height: 600px;
  height: 580px;
}
  